# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Database
*.db
*.sqlite3

# Node / React
node_modules/
dist/
.eslintcache
.stylelintcache
*.log

# OS
.DS_Store
Thumbs.db

# Model
delay_model.joblib
